<!--The content below is only a placeholder and can be replaced.-->
<header class="mdl-layout__header" style="background-color: #3F51B5;">
  <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">
        <a class="site-header mdl-navigation__link--title" href="/">
          <img src="../logo.png" alt="logo" style="width: 50%;">
        </a>
      </span>

    <div class="top-nav-wrapper">
      <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#"> Blog </a>
          <a class="mdl-navigation__link" href="#"> Connect </a>
          <a class="mdl-navigation__link" href="#"> Resume </a>
        </nav>
    </div>
  </div>
</header>

<section id="home">
  <img class="abouthero" src="../picture-me.png" align="center">
  <div class="aboutcontainer">
    <div class="abouttitlecontainer">
      <p class="abouttitle">My name is <b>Andrew</b> and I'm a
        <span class="rotate">thinker, developer, innovator, engineer</span>
      </p>
    </div>
  </div>

  <p class="aboutcontent aboutdesc">As a developer I am passionate about creating awesome software using the latest technologies and frameworks. I feel my ambition, creativity, and people skills makes me stand out from other developers.</p>


</section>


<!--Contact Panel-->
<section id="contact">
  <div id="centeredsection">
    <h1 class="contacttitle white">Connect with me.</h1>
    <div class="contact-subheader">
      Reach out to me if you want to talk technology, business, or fantasy baseball.<br>I'd love to hear from you!
      <div class="contacttablepadding"></div>
    </div>

    <table class="contacttable" align="center">
      <tbody><tr><td><a class="twitter" href="https://twitter.com/AndrewPDeacy" target="_newtab"></a></td>
        <td><a class="email" href="mailto:adeacydevelopment@gmail.com"></a></td>
        <td><a class="linkedin" href="https://linkedin.com/in/andrewdeacy" target="_newtab"></a></td>
        <td><a class="github" href="https://www.github.com/andrewdeacy" target="_newtab"></a></td>
      </tr></tbody></table>
  </div>
</section>

